// @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.7.0/style.min.css');
@font-face {
	font-family: 'Indie Flower';
	// src: url('FontName.eot'); /* IE9 Compat Modes */
	src:
	// url('FontName.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/IndieFlower.woff2') format('woff2'); /* Super Modern Browsers */
	//  url('FontName.woff') format('woff'), /* Pretty Modern Browsers */
	//  url('./fonts/hw.ttf')  format('truetype'), /* Safari, Android, iOS */
	//  url('FontName.svg#svgFontName') format('svg'); /* Legacy iOS */
}

:root {
	--font-family: 'LXGW WenKai Screen';
	--font-family-code: 'LXGW WenKai Screen';

	--search-input-width: 9.5rem !important;
	--search-result-width: 20rem;

	--content-width: 80%;

	// --bg-gradient-home: 20, 20, 20;
	--bg-gradient: 255, 255, 255, 0.1;

	.page .theme-default-content {
		padding: 2rem 1rem;
	}

	.navbar {
		transition: all 0.3s;
		background-color: rgba(var(--bg-gradient));
	}

	.sidebar {
		transition: all 0.3s;
		background-color: rgba(var(--bg-gradient));
	}

	// .theme-container {
	// 	opacity: 0.8;
	//   background: radial-gradient(ellipse,rgba(var(--bg-gradient-home),1) 0%,rgba(var(--bg-gradient-home),0) 700%) !important;
	// }
}

html.dark {
	--font-family: 'LXGW WenKai Screen';
	--font-family-code: 'LXGW WenKai Screen';

	--c-brand: #eca869;
	--c-brand-light: #ffdca9;

	--bg-gradient: 20, 20, 20, 0.7;
	.navbar {
		transition: all 0.3s;
		background-color: rgba(var(--bg-gradient));
	}

	.sidebar {
		transition: all 0.3s;
		background-color: rgba(var(--bg-gradient));
	}
}

// .theme-container:before {
// 	content: '';
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	position: fixed;
// 	top: 0;
// 	z-index: -1;
// 	background-image: url('/images/pexels-khairul-nizam-16516.jpg');
// 	// background-repeat: repeat;
//   background-size: cover;
//   background-position: center;
// 	min-height: 100%;
// 	// filter: blur(1px);
// }

// .theme-container {
//   opacity: 0.99;
// 	// background: radial-gradient(
// 	// 	ellipse,
// 	// 	rgba(var(--bg-gradient-home), 1) 0%,
// 	// 	rgba(var(--bg-gradient-home), 0) 700%
// 	// );
//   // background: radial-gradient(ellipse,rgba(var(--bg-gradient-home),1) 0%,rgba(var(--bg-gradient-home),0) 700%) !important;
// }

img {
	transition: opacity 0.5s ease-in-out;
}
