// @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.7.0/style.min.css');
@font-face {
	font-family: 'Indie Flower';
	// src: url('FontName.eot'); /* IE9 Compat Modes */
	src:
	// url('FontName.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/IndieFlower.woff2') format('woff2'); /* Super Modern Browsers */
	//  url('FontName.woff') format('woff'), /* Pretty Modern Browsers */
	//  url('./fonts/hw.ttf')  format('truetype'), /* Safari, Android, iOS */
	//  url('FontName.svg#svgFontName') format('svg'); /* Legacy iOS */
}

:root {
	// --c-padding: 24px;

	// --c-brand: #432c7a;
	// --c-brand-light: #80489c;

  --font-family: "LXGW WenKai Screen";
  --font-family-code: "LXGW WenKai Screen";

  --search-bg-color: #ffffff;
  --search-accent-color: #3eaf7c;
  --search-text-color: #2c3e50;
  --search-border-color: #eaecef;

  --search-item-text-color: #5d81a5;
  --search-item-focus-bg-color: #f3f4f5;

  --search-input-width: 9.5rem !important;
  --search-result-width: 20rem;

  --content-width: 80%;

  .page .theme-default-content{
    padding: 2rem 1rem;
  }
}

html.dark {
	--c-brand: #eca869;
	--c-brand-light: #ffdca9;
}

